extends layout

block append stylesheets
    link(rel='stylesheet', href='/stylesheets/cart.css')

block append scripts
    script(src='/scripts/labelsAndButtonsScripts.js')

block append body
    ul
    for product in products
        li
            p #{product.name}
            img(src="../images/" + product.img_name)
            button(class=product.product_id onclick="deleteRecords(this)") X
            div
                button(class=product.product_id onclick="decreaseValue(this, true)") -
                input(class=product.product_id value = product.amount onchange="changeAmount(this)")
                button(class=product.product_id onclick = "increaseValue(this, true)") +
            p.prize #{product.amount * product.prize} ZŁ
    button(onclick="deleteRecords()") Przejdź do płatności