extends layout

block append stylesheets
    link(rel='stylesheet', href='/stylesheets/product.css')

block append scripts
    script(src='/scripts/labelsAndButtonsScripts.js')

block append body
    div#productFrame
        img(src="../images/" + product.img_name)
        div#productBasicInfo
            p #{product.name}
            p #{product.prize} ZŁ
            p Liczba sztuk:

            div
                button#left(for="product" onclick="decreaseValue(this, false)") -
                input#product(class=product.product_id value=1)
                button#right(for="product" onclick="increaseValue(this, false)") +
                p#productAmount z #{product.available_amount} sztuk
            button#addToCart(onclick="addToCart()") Dodaj do koszyka
        p#description #{product.description}